border-radius()
    -webkit-border-radius:arguments
    -moz-border-radius:arguments
    border-radius:arguments

body
    font 12px Helvetica,Arial,sans-serif
    color red

.a
    color #ebebeb
    border-radius(5px)

textarea
input
    border 1px solid #eee
    &:hover
        color #000

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments
    html.ie6 &,
    html.ie7 &,
    html.ie8 &
        border 2px solid arguments[length(arguments)-1]



body #login
    box-shadow 1px 1px 3px #eee


.foo
    &__bar
        &_baz
            width 10px
            ^[-1]:hover &
                width 20px



.foo
    .bar
        .baz
            width 10px

            ^[0]:hover ^[1..-1]
                width 20px


.block
    &__element
        ~/:hover &
            color red

.foo 
    .bar
        width 10px

        &,
        ../ .baz
            height 10px


textarea
input
    color red
    &:hover,
    /.is-hovered
        color #000

.foo
    selector()

{selector('.a','.b','.c,.d')}
    color red


.a
    .b
        &_c
            content selectors()

$font-size=14px

body
    font $font-size Arial,sans-serif     


#logo
    position absolute
    top 50%
    left 50%
    width w=150px
    height h=80px
    margin-left -(w/2)
    margin-top -(h/2)


#logo 
    position absolute
    top 50%
    left 50%
    width 150px
    height 80px
    margin-left -(@width/2)
    margin-top -(@height/2)


position()
    position arguments
    z-index 1 unless @z-index

#logo
    z-index 20
    position:absolute
#logo2
    position:absolute


body
    color red
    ul
        li
            color blue
            a
                background-color @color



list = 1 2 3
.b
    content list[-1]



add(a,b)
    if a is a 'unit' and b is a 'unit'
        a+b
    else
        (error 'a and b must be units!')

 
                    